<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Taylor Swift Reputation Volumen 1 Cd + Revista | Mercado Libre</title>

    <link rel="icon" type="image/x-icon" href="../Content/Imgs/Logo.jpg" sizes="64x64" />
    <link href="Producto.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

</head>
<body class="body">
    <div class="header">
        <div class="row">
            <div class="col-3 center d-none d-lg-block d-xl-block">
                <img src="../Content/Imgs/logo_name.png" class="logo" />
            </div>
            <div class="col-5 d-none d-lg-block d-xl-block">
                <div class="buscador row">
                    <input class="buscar col" type="search" placeholder="Buscar productos, marcas y más...">
                    <button class="btn col-1">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-4 coche d-none d-lg-block d-xl-block">
                <img src="../Content/Imgs/Carro.png" class="tu_coche" />
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="left col-6 d-block d-lg-none d-xl-none">
                <i class="bi bi-justify"></i> Producto
            </div>
            <div class="right col-6 d-block d-lg-none d-xl-none">
                <i class="bi bi-heart"></i>
                <i class="bi bi-search"></i>
                <i class="bi bi-cart2 carrito"></i>
            </div>
        </div>

        <div class="row fila2">
            <div class="col-3 center d-none d-lg-block d-xl-block">
                <div class="direction row">
                    <div class="col-5">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="col-7 left">
                        <label>
                            Enviar a Said <br />
                            <b>CP 54240</b>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-5 d-none d-lg-block d-xl-block">
                <div class="navbar justify-content-start">
                    <div class="nav-item dropdown">
                        <a class="enlace" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                            Categorías
                            <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Vehículos</a></li>
                            <li><a class="dropdown-item" href="#">Tecnología</a></li>
                            <li><a class="dropdown-item" href="#">Hogar y Electrodomésticos</a></li>
                            <li><a class="dropdown-item" href="#">Juguetes y Bebés</a></li>
                            <li><a class="dropdown-item" href="#">Moda</a></li>
                            <li><a class="dropdown-item" href="#">Deportes y Aire Libre</a></li>
                            <li><a class="dropdown-item" href="#">Accesorios para Vehículos</a></li>
                            <li><a class="dropdown-item" href="#">Salud y Equipamiento Médico</a></li>
                            <li><a class="dropdown-item" href="#">Belleza y Cuidado Personal</a></li>
                            <li><a class="dropdown-item" href="#">Joyas y Relojes</a></li>
                            <li><a class="dropdown-item" href="#">Supermercado</a></li>
                            <li><a class="dropdown-item" href="#">Inmuebles</a></li>
                            <li><a class="dropdown-item" href="#">Productos Sustentables</a></li>
                            <li><a class="dropdown-item" href="#">Ver más categorías</a></li>
                        </ul>
                    </div>
                    <div class="sub">
                        Ofertas
                    </div>
                    <div class="sub">
                        Historial
                    </div>
                    <div class="sub">
                        Supermercado
                    </div>
                    <div class="sub">
                        Tiendas Oficiales
                    </div>
                    <div class="sub">
                        Vender
                    </div>
                    <div class="sub ayuda">
                        Ayudar
                    </div>
                </div>
            </div>
            <div class="col-4 d-none d-lg-block d-xl-block">
                <div class="row">
                    <div class="col-3 user">
                        <i class="bi bi-person-circle"></i> Said Helí<i class="bi bi-chevron-down abajo"></i>
                    </div>
                    <div class="col-3">
                        Mis compras
                    </div>
                    <div class="col-3">
                        Favoritos<i class="bi bi-chevron-down"></i>
                    </div>
                    <div class="col-3">
                        <i class="bi bi-bell campana"></i>
                        <i class="bi bi-cart2 carrito"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row fila2">
            <div class="col-12 center d-block d-lg-none d-xl-none">
                <div class="direction row">
                    <div class="col-2 center">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <div class="col left">
                        <label>
                            Enviar a Said &nbsp;&nbsp;&nbsp;&nbsp;<b>CP 54240</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fondo">
        <div class="banner">
            <div class="container">
                <img src="../Content/Imgs/Republic_records_logo.svg.png" class="rep d-none d-lg-block d-xl-block" />
                <div class="contenido row">
                    <div class="navegacion col d-none d-lg-block d-xl-block">
                        <label>
                            Volver al listado |
                        </label>
                        <a href="#">Música, Películas y Series</a><i class="bi bi-chevron-right"></i>
                        <a href="#">Música</a><i class="bi bi-chevron-right"></i>
                        <a href="#">CD</a><i class="bi bi-chevron-right"></i>

                    </div>

                    <div class="navegacion right col d-flex justify-content-end d-none d-lg-block d-xl-block">
                        <a href="#" class="fin">Compartir</a>
                        <label class="fin">|</label>
                        <a href="#" class="fin">Vender uno igual</a>
                    </div>
                </div>
                <div class="disco row">
                    <div class="costado col-8 d-none d-lg-block d-xl-block">
                        <div class="row" id="arriba">
                            <div class="col-1 pequeñas">
                                <img src="../Content/Imgs/reputation.png" id="one" class="foto" />
                                <img src="../Content/Imgs/revista.png" class="foto" />
                                <img src="../Content/Imgs/album.jpg" id="tercera" class="foto" />
                            </div>
                            <div class="col grande">
                                <img src="../Content/Imgs/Album.png" />
                            </div>
                        </div>
                        <br />
                        <div class="container" id="arriba">
                            <div class="row">
                                <label class="more">Más publicaciones del vendedor</label>
                                <div class="col-3 discos">
                                    <img src="../Content/Imgs/Reputation_2.png" class="product" />
                                    <label id="precioDisco">$195</label>
                                    <br />
                                    <label class="oferta" id="acerca">12x$19.57</label>
                                    <label id="acerca">Taylor Swift Reputation Cd (nuevo)</label>
                                </div>
                                <div class="col-3 discos">
                                    <img src="../Content/Imgs/Lover.png" class="product" />
                                    <label id="precioDisco">$599</label>
                                    <br />
                                    <label class="oferta" id="acerca">12x$60.10</label>
                                    <br />
                                    <label class="oferta"><a href="#">Envío gratis</a></label>
                                    <label id="acerca">Taylor Swift Lover Deluxe Journal Version 2(libro)</label>
                                </div>
                                <div class="col-3 discos">
                                    <img src="../Content/Imgs/Lover_2.png" class="product" />
                                    <label id="precioDisco">$179</label>
                                    <br />
                                    <label class="oferta" id="acerca">12x$17.96</label>
                                    <label id="acerca">Taylor Swift Lover Cd 18 Tracks (nuevo)</label>
                                </div>
                                <div class="col discos">
                                    <img src="../Content/Imgs/folklore.png" class="product" />
                                    <label id="precioDisco">$185</label>
                                    <br />
                                    <label class="oferta" id="acerca">12x$18.56</label>
                                    <label id="acerca">Taylor Swift Folklore Cd</label>
                                </div>
                            </div>
                            <br />
                            <label><a href="#" class="medios">Ver más publicaciones del vendedor</a></label>
                        </div>
                        <br />
                        <div class="container" id="arriba">
                            <div class="row">
                                <div class="col-12">
                                    <label class="more">Características principales</label>
                                    <table class="caracteristicas">
                                        <tr class="fila">
                                            <th class="col-2 princ darkgray">Nombre del artista</th>
                                            <td class="col-8 celda lightgray">Taylor Swift</td>
                                        </tr>
                                        <tr class="fila">
                                            <th class="col-2 princ lightgray">Nombre del álbum</th>
                                            <td class="col-8 celda">Reputation</td>
                                        </tr>
                                        <tr class="fila">
                                            <th class="col-2 princ  darkgray">Formato</th>
                                            <td class="col-8 celda lightgray">Físico</td>
                                        </tr>
                                        <tr class="fila">
                                            <th class="col-2 princ lightgray">Formato del álbum</th>
                                            <td class="col-8 celda">CD</td>
                                        </tr>
                                        <tr class="fila">
                                            <th class="col-2 princ  darkgray">Con pistas adicionales</th>
                                            <td class="col-8 celda lightgray">Sí</td>
                                        </tr>
                                        <tr class="fila">
                                            <th class="col-2 princ lightgray">Año de lanzamiento</th>
                                            <td class="col-8 celda">2017</td>
                                        </tr>
                                    </table>
                                    <br />
                                    <label class="more">Otras características</label>
                                    <div class="row">
                                        <div class="col-6">
                                            Cantidad de canciones: 15
                                        </div>
                                        <div class="col-6">
                                            Género: Pop
                                        </div>
                                        <div class="col-6">
                                            Origen: Alemania
                                        </div>
                                        <div class="col-6">
                                            Cantidad de álbumes: 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container" id="arriba">
                            <div class="row">
                                <div class="col-12">
                                    <label class="more">Descripción</label>
                                    <br />
                                    <div class="puntos">
                                        <ol>
                                            <li>...Ready for it? 3:28</li>
                                            <li>End Game 4:04</li>
                                            <li>I Did Something Bad 3:58</li>
                                            <li>Don't Blame Me 3:56</li>
                                            <li>Delicate 3:52</li>
                                            <li>Look What You Made Me Do 3:31</li>
                                            <li>So It Goes... 3:47</li>
                                            <li>Gorgeous 3:29</li>
                                            <li>Getaway Car 3:53</li>
                                            <li>King Of My Heart 3:34</li>
                                            <li>Dancing With Our Hands Tied 3:31</li>
                                            <li>Dress 3:50</li>
                                            <li>This Is Why We Can't Have Nice Things 3:27</li>
                                            <li>Call It What You Want 3:23</li>
                                            <li>New Year's Day 3:55</li>
                                        </ol>
                                    </div>
                                    <br />
                                    <label class="more">Volumen 1 de 2. Ediciones limitadas, incluida Reputation Magazine.</label>
                                    <br />
                                    <div class="puntos">
                                        <label id="magazine">Revista incluida</label>
                                        <ul>
                                            <li>CD de reputación</li>
                                            <li>14 retratos fotográficos</li>
                                            <li>20 fotos personales</li>
                                            <li>23 fotos de la creación de su último video musical</li>
                                            <li>2 pinturas de Taylor</li>
                                            <li>1 póster</li>
                                            <li>Poesía de Taylor</li>
                                            <li>16 páginas de letras escritas a mano en sus pinturas de acuarela</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <p class="puntos">
                                        ¿ © 2017 Big Machine Label Group, LLC. Todos los derechos reservados. Prohibida
                                        la copia, reproducción, contratación, representación pública y difusión no
                                        autorizadas. Hecho en la UE. LC01846. Universal International Music B.V.Gerrit
                                        Van Der Veenlaan 4, 3743 DN, Baarn, Países Bajos.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <label class="more">Preguntas y respuestas</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-xl-4">
                        <div class="info">
                            <label class="new">Nuevo | 14 vendidos</label>
                            <br />
                            <div class="row">
                                <div class="col-9">
                                    <label class="nombreProducto"><b>Taylor Swift Reputation Volumen 1 Cd + Revista</b></label>
                                </div>
                                <div class="col-2 heart d-none d-lg-block d-xl-block">
                                    <i class="bi bi-heart"></i>
                                </div>
                            </div>
                            <div class="d-block d-lg-none d-xl-none">
                                <div class="col grande">
                                    <img src="../Content/Imgs/Album.png" />
                                </div>
                            </div>
                            <label id="precio">$590</label>
                            <br />
                            <label>en 12x $ 59.20 IVA incluido </label>
                            <br />
                            <a href="#" class="medios">Ver los medios de pago</a>
                            <div class="row datosEnvio">
                                <div class="col-1 ico">
                                    <i class="bi bi-truck"></i>
                                </div>
                                <div class="col">
                                    <label id="firstLine">Llega gratis <b>mañana</b></label>
                                    <label id="resto">Comprando dentro de las próximas 3 h 29 min</label>
                                    <label id="resto">Beneficio Mercado Puntos</label>
                                    <br />
                                    <a href="#" class="medios">Ver más formas de entrega</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 ico">
                                    <i class="bi bi-arrow-return-left"></i>
                                </div>
                                <div class="col">
                                    <label id="firstLine">Devolución gratis</label>
                                    <br />
                                    <label id="resto">Tienes 30 días desde que lo recibes.</label>
                                    <br />
                                    <a href="#" class="medios">Conocer más</a>
                                </div>
                            </div>
                            <br />
                            <label class="who">Vendido por <a href="#">CAROLINE MUSIC</a></label>
                            <br />
                            <label class="who">MercadoLíder | 4,570 ventas</label>
                            <br />
                            <br />
                            <label class="oferta"><b>¡Última disponible!</b></label>
                            <br />
                            <br />
                            <input type="button" class="preguntar btn-primary" value="Comprar ahora" />
                            <input type="button" class="agregar" value="Agregar al carrito" />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-1 icono">
                                    <i class="bi bi-shield-check"></i>
                                </div>
                                <div class="col">
                                    <label id="resto">
                                        <a href="#" class="medios">Compra protegida</a>
                                        , recibe el producto que esperabas o te devolvemos tu dinero.
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1 icono">
                                    <i class="bi bi-trophy"></i>
                                </div>
                                <div class="col">
                                    <label id="resto">
                                        <a href="#" class="medios">Mercado Puntos</a>
                                        Suma42 puntos.
                                    </label>
                                </div>
                                <br /><br />
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="info">


                                <div class="row">
                                    <label class="more">Más publicaciones del vendedor</label>
                                    <div class="col-6 discos d-block d-lg-none d-xl-none">
                                        <img src="../Content/Imgs/Reputation_2.png" class="product" />
                                        <label id="precioDisco">$195</label>
                                        <br />
                                        <label class="oferta" id="acerca">12x$19.57</label>
                                        <label id="acerca">Taylor Swift Reputation Cd (nuevo)</label>
                                        <br />
                                        <br />
                                        <br />
                                        <i class="bi bi-cart2"></i><label class="car"><a href="#">Agregar al carrito</a></label>
                                    </div>
                                    <div class="col discos d-block d-lg-none d-xl-none">
                                        <img src="../Content/Imgs/Lover.png" class="product" />
                                        <label id="precioDisco">$599</label>
                                        <br />
                                        <label class="oferta" id="acerca">12x$60.10</label>
                                        <br />
                                        <label class="ofertachico"><a href="#">Envío gratis</a></label>
                                        <label id="acerca">Taylor Swift Lover Deluxe Journal Version 2(libro)</label>
                                        <br />
                                        <i class="bi bi-cart2"></i><label class="car"><a href="#">Agregar al carrito</a></label>
                                    </div>
                                </div>
                                <hr />
                                <label class="informacion">Información sobre el vendedor</label>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-1">
                                        <label><i class="bi bi-geo-alt"></i></label>
                                    </div>
                                    <div class="col-11">
                                        <label>Ubicación</label>
                                        <br />
                                        <label id="resto">Benito Juárez, Distrito Federal</label>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-1">
                                        <label id="firstLine"><i class="bi bi-gem"></i></label>
                                    </div>
                                    <div class="col-11">
                                        <label class="platinum">MercadoLíder Platinum</label>
                                    </div>
                                </div>
                                <br />
                                <div class="barra">
                                    <img src="../Content/Imgs/barra.png" />
                                </div>
                                <br />
                                <label><a href="#" class="medios">Ver más datos de este vendedor</a></label>
                                <br />
                                <br />
                                <hr />

                                <div class="row d-block d-lg-none d-xl-none">
                                    <div class="col-12">
                                        <label class="more">Características principales</label>
                                        <table class="caracteristicas">
                                            <tr class="fila">
                                                <th class="col-2 princ darkgray">Nombre del artista</th>
                                                <td class="col-8 celda lightgray">Taylor Swift</td>
                                            </tr>
                                            <tr class="fila">
                                                <th class="col-2 princ lightgray">Nombre del álbum</th>
                                                <td class="col-8 celda">Reputation</td>
                                            </tr>
                                            <tr class="fila">
                                                <th class="col-2 princ  darkgray">Formato</th>
                                                <td class="col-8 celda lightgray">Físico</td>
                                            </tr>
                                            <tr class="fila">
                                                <th class="col-2 princ lightgray">Formato del álbum</th>
                                                <td class="col-8 celda">CD</td>
                                            </tr>
                                            <tr class="fila">
                                                <th class="col-2 princ  darkgray">Con pistas adicionales</th>
                                                <td class="col-8 celda lightgray">Sí</td>
                                            </tr>
                                            <tr class="fila">
                                                <th class="col-2 princ lightgray">Año de lanzamiento</th>
                                                <td class="col-8 celda">2017</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                
                                <div class="row d-block d-lg-none d-xl-none">
                                    <div class="col-12">
                                        <label class="more">Descripción</label>
                                        <br />
                                        <div class="puntos">
                                            <ol>
                                                <li>...Ready for it? 3:28</li>
                                                <li>End Game 4:04</li>
                                                <li>I Did Something Bad 3:58</li>
                                                <li>Don't Blame Me 3:56</li>
                                                <li>Delicate 3:52</li>
                                                <li>Look What You Made Me Do 3:31</li>
                                                <li>So It Goes... 3:47</li>
                                                <li>Gorgeous 3:29</li>
                                                <li>Getaway Car 3:53</li>
                                                <li>King Of My Heart 3:34</li>
                                                <li>Dancing With Our Hands Tied 3:31</li>
                                                <li>Dress 3:50</li>
                                                <li>This Is Why We Can't Have Nice Things 3:27</li>
                                                <li>Call It What You Want 3:23</li>
                                                <li>New Year's Day 3:55</li>
                                            </ol>
                                        </div>
                                        <br />
                                        <label class="more">Volumen 1 de 2. Ediciones limitadas, incluida Reputation Magazine.</label>
                                        <br />
                                        <div class="puntos">
                                            <label id="magazine">Revista incluida</label>
                                            <ul>
                                                <li>CD de reputación</li>
                                                <li>14 retratos fotográficos</li>
                                                <li>20 fotos personales</li>
                                                <li>23 fotos de la creación de su último video musical</li>
                                                <li>2 pinturas de Taylor</li>
                                                <li>1 póster</li>
                                                <li>Poesía de Taylor</li>
                                                <li>16 páginas de letras escritas a mano en sus pinturas de acuarela</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <p class="puntos">
                                            ¿ © 2017 Big Machine Label Group, LLC. Todos los derechos reservados. Prohibida
                                            la copia, reproducción, contratación, representación pública y difusión no
                                            autorizadas. Hecho en la UE. LC01846. Universal International Music B.V.Gerrit
                                            Van Der Veenlaan 4, 3743 DN, Baarn, Países Bajos.
                                        </p>
                                    </div>
                                </div>
                                
                                    <label>Devolución gratis</label>
                                    <br />
                                    <br />
                                    <label>Compra Protegida con Mercado Pago</label>
                                    <label id="resto">
                                        Tienes 30 días desde que recibes el producto para devolverlo. ¡No importa el motivo!
                                    </label>
                                    <br />
                                    <br />
                                    <label>Garantía del vendedor</label>
                                    <br />
                                    <label id="resto">Sin garantía</label>
                                    <br />
                                    <br />
                                    <label><a href="#" class="medios">Conocer más sobre garantía</a></label>
                                </div>
                            </div>
                            
                            <hr />
                            <div class="pago">
                                <label>Medios de pago</label>
                                <br />
                                <br />
                                <label id="tarjeta">Tarjetas de crédito</label>
                                <br />
                                <label id="resto">¡Paga en hasta 12 meses!</label>
                                <br />
                                <img src="../Content/Imgs/Formas_pago.png" class="imgpago" />
                                <br />
                                <br />
                                <label id="tarjeta">Tarjetas de débito</label>
                                <br />
                                <img src="../Content/Imgs/Tarjetas_debito.png" class="imgpago" />
                                <br />
                                <br />
                                <label id="tarjeta">Efectivo</label>
                                <br />
                                <img src="../Content/Imgs/Efectivo.png" id="otso"/>
                                <br />
                                <br />
                                <label><a href="#" class="medios">Conoce otros medios de pago</a></label>
                            </div>
                            <hr />
                            <br />
                            <div class="promocionados d-none d-lg-block d-xl-block">
                                <div class="row">
                                    <div class="col-7">
                                        <label>Productos promocionados</label>
                                    </div>
                                    <div class="col">
                                        <label class="anuncios"><a href="#" class="medios">Anuncia aquí</a></label>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-4 espacio">
                                        <img src="../Content/Imgs/album1.png" class="sugerencias" />
                                    </div>
                                    <div class="col-6">
                                        <label>$399</label><br />
                                        <div id="infoEspacios">
                                            <label>12x $40.03</label><br />
                                            <label id="gratis">Envio gratis</label><br />
                                            <label>Disco-Pxndx-Amantes Sunt Amantes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 espacio">
                                        <img src="../Content/Imgs/album2.png" class="sugerencias" />
                                    </div>
                                    <div class="col-6">
                                        <label>$399</label><br />
                                        <div id="infoEspacios">
                                            <label>12x $40.03</label><br />
                                            <label id="gratis">Envio gratis</label><br />
                                            <label>Disco-Pxndx-Poetics</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 espacio">
                                        <img src="../Content/Imgs/album3.png" class="sugerencias" />
                                    </div>
                                    <div class="col-6">
                                        <label>$399</label><br />
                                        <div id="infoEspacios">
                                            <label>12x $40.03</label><br />
                                            <label id="gratis">Envio gratis</label><br />
                                            <label>Disco-Pxndx-Bonanza</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4 espacio">
                                        <img src="../Content/Imgs/album4.png" class="sugerencias" />
                                    </div>
                                    <div class="col-6">
                                        <label>$399</label><br />
                                        <div id="infoEspacios">
                                            <label>12x $40.03</label><br />
                                            <label id="gratis">Envio gratis</label><br />
                                            <label>Disco-Pxndx-Mtv Unplugged</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-lg-block d-xl-block">
                                <iframe src="https://giphy.com/embed/QverhnZ51sSZFmk4Qf" class="giphy-embed" allowFullScreen></iframe>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
       
</body>
</html>